@page
@model per.Pages.NegociosRentablesModel
@{
    ViewData["Title"] = "NegociosRentables";
    Layout = "~/Pages/Shared/_LayoutContact.cshtml";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Consultoría</title>
    <link href="~/css/creative.css" rel="stylesheet">
    <link href="~/css/Servicios.css" rel="stylesheet">
</head>
<body>
    <header class="consultoria">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <h2 class="text-white mt-0">
                        Te compartiré ideas que podrás implementar con tu fuerza comercial para incrementar las utilidades de tu negocio y hacerlo más rentable. <br />
                    </h2>
                    <hr class="divider light my-4">
                    <div class="video-responsive">
                        <iframe frameborder="0" scrolling="no" type="text/html" src="https://www.youtube.com/embed/UfVa5WVkXp4?autoplay=0&fs=0&iv_load_policy=3&showinfo=0&rel=0&cc_load_policy=0&start=0&end=0&origin=https://youtubeembedcode.com"></iframe>
                    </div>



                </div>

                <div style="margin-top:10px; margin-bottom:-50px;">
                    <a class="BUTTON_FUV" href="https://calendly.com/pedroeloy/sesionestrategica"> <i class="far fa-calendar-alt"></i> Agenda tu cita con Pedro!</a>
                </div>


            </div>
        </div>
    </header>



    <div class="containerOrder2" style="background-color: #2b2e31 !important; min-height:1500px; padding-bottom:20px;">
        <div class="row">
            <div class="align-content-center text-center">
            <h1 style="color:white">Te interesa saber más?</h1>
            </div>
        </div>
        <hr class="divider light my-4">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <img src="~/img/PedroEloyRodriguezBlancoEdit.png" class="image-responsive2">
                </div>
                <div class="col-lg-8 align-self-baseline">

                </div>
            </div>
        </div>
        <div class="containerOrderW">
            <section class="page-section2" id="services">
                <div class="container">
                    <h2 class="text-center mt-0">CERTIFICACIONES Y LOGROS</h2>
                    <hr class="divider my-4">
                    <div class="row">

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="col-lg-12 align-content-center">
                                    <img src="~/img/logos/TEDx.png" class="image-responsive2" style="margin-top:35px; padding-bottom:10px; width:15em; height:5em;">
                                </div>
                                <!-- <i class="fas fa-4x fa-chart-line text-primary mb-4"></i>-->
                                <!-- <h3 class="h4 mb-2">TEDx</h3> -->
                                <p class="text-muted-estudio mb-0">Conferencista TED con 2 charlas publicadas - 2019 y 2020</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="col-lg-12 align-content-center">
                                    <img src="~/img/logos/GQA.png" class="image-responsive2" style="width:6em; height:7em;">
                                </div>
                                <!-- <i class="fas fa-4x fa-trophy text-primary mb-4"></i>
            <h3 class="h4 mb-2">Global Quality Award</h3>-->
                                <p class="text-muted-estudio mb-0">Líder Inspirador del Siglo XXI <br>en el 2016</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="col-lg-12 align-content-center">
                                    <img src="~/img/logos/UANL.png" class="image-responsive2" style="width:5em; height:7em;">
                                </div>
                                <p class="text-muted-estudio mb-0">Maestría en Administración <br>1994 - 1996<p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <div class="col-lg-12 align-content-center">
                                    <img src="~/img/logos/TV.png" class="image-responsive2" style="width:8em; height:8em;">
                                </div>
                                <!-- <i class="fas fa-4x fa-tv mb-4" style="margin-top:15px; font-size:90px;"></i> -->
                                <!-- <h3 class="h4 mb-2">Colaboración televisiva</h3>-->
                                <p class="text-muted-estudio mb-0" style="margin-top:-15px;">Colaborador del programa Sale el Sol de Imagen Televisión</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <!--<div class="col-lg-10 align-self-end">
                <img src="~/img/logos/BEST.jpeg" class="image-responsive2">
            </div>-->
                                <i class="fas fa-4x fa-medal text-primary mb-4"></i>
                                <h3 class="h4 mb-2">Best Seller</h3>
                                <p class="text-muted-estudio mb-0">Autor BestSeller en Amazon por su libro en coautoria - 2016</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <!--<div class="col-lg-12 align-content-center">
                <img src="~/img/logos/PREMIO.jpeg" class="image-responsive2">
            </div>-->
                                <i class="fas fa-4x fa-award text-primary mb-4"></i>
                                <h3 class="h4 mb-2">Gold Elite</h3>
                                <p class="text-muted-estudio mb-0">Reconocimiento "Gold Elite" por la trayectoria profesional - 2020</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-trophy text-primary mb-4"></i>
                                <!--<i class="fas fa-4x fa-chart-line text-primary mb-4"></i>-->
                                <h3 class="h4 mb-2">UANL</h3>
                                <p class="text-muted-estudio mb-0">Reconocimiento a la Excelencia Profesional en el 2018</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-chart-line text-primary mb-4"></i>
                                <h3 class="h4 mb-2">GQF</h3>
                                <p class="text-muted-estudio mb-0">Empresa de Calidad y Servicios de Trascendencia - Mayo 2016</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-graduation-cap text-primary mb-4"></i>
                                <h3 class="h4 mb-2">UANL</h3>
                                <p class="text-muted-estudio mb-0">Ingeniero Administrador de Sistemas 1987 - 1991</p>
                            </div>
                        </div>


                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-handshake text-primary mb-4"></i>
                                <h3 class="h4 mb-2">ICCN</h3>
                                <p class="text-muted-estudio mb-0">Coach Ejecutivo y Equipos de Alto Desempeño - Agosto 2018</p>
                            </div>
                        </div>



                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <!--<div class="col-lg-12 align-content-center">
                <img src="~/img/logos/libro.jpeg" class="image-responsive2">
            </div>-->
                                <i class="fas fa-4x fa-book-open text-primary mb-4"></i>
                                <h3 class="h4 mb-2">Entrepreneur</h3>
                                <p class="text-muted-estudio mb-0">Publicado en la revista Entrepreneur <br> en el 2000</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="mt-5">
                                <i class="fas fa-4x fa-book-reader text-primary mb-4"></i>
                                <h3 class="h4 mb-2">Quantum</h3>
                                <p class="text-muted-estudio mb-0">Publicado en la revista Quantum <br> en el 2020</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <div class="container">
                <div class="row">

                    <div style="margin-top:10px; margin-bottom:20px;">
                        <a class="BUTTON_FUV2" href="https://calendly.com/pedroeloy/sesionestrategica"> <i class="far fa-calendar-alt"></i> Agenda tu cita con Pedro!</a>

                    </div>
                </div>
            </div>

        </div>
      
            <div class="containerOrderW" >
                <section class="page-section2" style="margin-top: 20px;" id="services">
                    <div class="container">
                        <h2 class="text-center mt-0">CLIENTES CON LOS QUE HEMOS TRABAJADO:</h2>
                        <hr class="divider my-4">
                        <div class="row">
                            <div>
                                <img src="~/img/logos/empresas grises.png" width="100%" height="100%" />
                            </div>
                        </div>
                    </div>
                </section>
                <div class="container">
                    <div class="row">

                        <div style="margin-top:10px; margin-bottom:40px;">
                            <a class="BUTTON_FUV2" href="https://calendly.com/pedroeloy/sesionestrategica"> <i class="far fa-calendar-alt"></i> Agenda tu cita con Pedro!</a>

                        </div>
                    </div>
                </div>
            </div>
        

    </div>


 




    <div class="containerOrder2">
        <div class="containerOrder" style="background-color: #2b2e31 !important;">

            <div class="caja-sombra">
                <div class="row">



                    <!--<div class="col-6 row justify-content-center text-center">
                        <section class="about-section">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <h2 class="mt-0" style="color:black">
                                        PEDRO TE OFRECE LOS SIGUIENTES SERVICIOS: <br /> <br />
                                    </h2>

                                            <h2 class="">CONSULTORÍA</h2>
                                            <p class="mb-4">Revisamos tu proceso actual de ventas, el del servicio y experiencia que viven tus clientes, la publicidad y manera de posicionar tu marca y el sentir de tus colaboradores sobre el liderazgo de negocio. Después de esto solo es necesario cambiar lo que nos traerá mejores resultados.</p>
                                            <br />



                                            <h2 class="card_title">CONFERENCIAS</h2>
                                            <p class="mb-4">Preparo conferencias sobre temas que me apasionan y me aseguro de que la información llegue a todos los que las escuchan tocando la lógica y la creatividad, logrando unir la mente y el corazón para que la gente no solo se motive, si no que tenga nuevas herramientas por implementar.</p>
                                            <br />

                                            <h2 class="card_title">CAPACITACIÓN</h2>
                                            <p class="mb-4">Desarrollo programas de entrenamiento en donde logro alinear las metas personales con las metas del negocio, cuando los colaboradores comprenden esto, entonces aprenden con facilidad la metodología de venta, a ser productivos, a atender mejor al cliente y cualquier otra cosa.</p>
                                            <br />

                                            <h2 class="card_title">COACHING</h2>
                                            <p class="mb-4">Cualquier meta personal, profesional o de tu equipo de trabajo, se puede alinear, planear y estructurar para ejecutarla y ser lograda. Las respuestas están en ti, solo hay que hacer las preguntas correctas para encontrarlas y después acomodarlas para que te lleven a los resultados.</p>

                                    </ul>
                                </div>
                            </div>
                        </section>
                    </div>-->


                    <div class="col-6Order2 col-md-6 col-sm-12 bg-primary">
                        <section class=" bg-primary">
                            <div class="container">
                                <div class="row">
                                    <h5 class="text-white mt-0" style="color:black">
                                        <br />
                                        CONOCE MÁS ACERCA DE PEDRO: <br /> <br /><br />
                                    </h5>
                                    <div class="col-lg-10 text-center text-justify">
                                        <p class="text-white mb-4 text-justify">
                                            Pedro ha sido reconocido por muchas instituciones como emprendedor nato, su pasión está puesta en el Servicio al Cliente, La Productividad y las Ventas, pasión que lo llevó a emprender negocios creativos en distintos servicios de estos rubros.<br>
                                            <br>
                                            Pedro es Ingeniero en Sistemas y tiene una MBA con especialidad en Comercio Internacional, además de diversos diplomados, seminarios y certificaciones. Es autor Best Seller en Amazon con el libro en coautoría: “Negocios y Emprendimiento en la Era Digital” y está por lanzar algunos libros en temas de ventas, innovación y crecimiento personal.<br>
                                            <br>
                                            Fue conductor del programa de Radio “Dinero Inteligente” trasmitido por el 94.9 de FM durante 5 años y en el 2016 fue galardonado como “Líder Inspirador del siglo XXI” por la Global Quality Foundation y recibió el reconocimiento en el 2018 como “Mérito a la Excelencia Profesional” por la UANL. <br>
                                            <br>
                                            Trabajó durante años bajo el liderazgo de Stephen Covey y actualmente es colaborador de Imagen TV y uno de los speakers más reconocidos por la forma de conectar con el público, Pedro ha sido invitado a participar en varias ocasiones en la mayor plataforma mundial para trasmitir ideas, convirtiéndose en el 2019 y 2020 en conferencista TEDx.<br>
                                            <br>
                                            Es fundador del Grupo Percepciones y el creador de una de las metodologías de ventas y servicio más exitosas en México. Considerado una de las voces más influyentes en la red profesional de LinkedIn, Pedro ha llegado a millones de personas con sus reflexiones y ha capacitado a cientos por más de 20 años, siendo considerado como uno de los referentes del servicio al cliente y la comercialización en Latinoamérica.
                                            <br />
                                            <br />

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                    <div class="col-6Order1 col-md-6 col-sm-12 bg-primary2">
                        <section class=" bg-primary2">
                            <div class="container">
                                <div class="row">
                                    <h5 class="text-black mt-0 text-center" style="color:black">
                                        <br />
                                        MAS DE 20 AÑOS, DESPERTANDO LO MEJOR DE LAS EMPRESAS: <br />
                                    </h5>
                                    <div class="col-lg-10 text-center text-justify">
                                        <p class="text-black mb-4 text-justify">
                                            He trabajado a lo largo de 20 años, ayudando a empresas a sacar el mejor potencial de sus colaboradores y a implementar metodologías de ventas y servicio que impactan directamente en la generación de las utilidades. Despertando lealtad de los clientes y el compromiso y espíritu de equipo en sus colaboradores. Algunas de las herramientas que he implementado para lograrlo son las siguientes:
                                        </p>

                                        <div class="row">
                                            <i class="far fa-check-square" style="font-size:1.5rem;"></i>
                                            <h5 class="text-black mb-4 text-left col-11">CONSULTORÍA</h5>
                                        </div>

                                        <p class="text-black mb-4 text-justify">Revisamos tu proceso actual de ventas, el del servicio y experiencia que viven tus clientes, la publicidad y manera de posicionar tu marca y el sentir de tus colaboradores sobre el liderazgo de negocio. Después de esto solo es necesario cambiar lo que nos traerá mejores resultados.</p>



                                        <div class="row">
                                            <i class="far fa-check-square" style="font-size:1.5rem;"></i>
                                            <h5 class="text-black mb-4 text-left col-11">CONFERENCIAS</h5>
                                        </div>

                                        <p class="text-black mb-4 text-justify">Preparo conferencias sobre temas que me apasionan y me aseguro de que la información llegue a todos los que las escuchan tocando la lógica y la creatividad, logrando unir la mente y el corazón para que la gente no solo se motive, si no que tenga nuevas herramientas por implementar.</p>


                                        <div class="row">
                                            <i class="far fa-check-square" style="font-size:1.5rem;"></i>
                                            <h5 class="text-black mb-4 text-left col-11">CAPACITACIÓN</h5>
                                        </div>

                                        <p class="text-black mb-4 text-justify">Desarrollo programas de entrenamiento en donde logro alinear las metas personales con las metas del negocio, cuando los colaboradores comprenden esto, entonces aprenden con facilidad la metodología de venta, a ser productivos, a atender mejor al cliente y cualquier otra cosa.</p>


                                        <div class="row">
                                            <i class="far fa-check-square" style="font-size:1.5rem;"></i>
                                            <h5 class="text-black mb-4 text-left col-11">COACHING</h5>
                                        </div>

                                        <p class="text-black mb-4 text-justify">Cualquier meta personal, profesional o de tu equipo de trabajo, se puede alinear, planear y estructurar para ejecutarla y ser lograda. Las respuestas están en ti, solo hay que hacer las preguntas correctas para encontrarlas y después acomodarlas para que te lleven a los resultados.</p>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>


        </div>
        <div class="row">

            <div style="margin-top:10px; margin-bottom:20px;">
                <a class="BUTTON_FUV2" href="https://calendly.com/pedroeloy/sesionestrategica"> <i class="far fa-calendar-alt"></i> Agenda tu cita con Pedro!</a>
            </div>
        </div>
    </div>


</body> 