@page
@model per.Pages.Servicios1Model
@{
    ViewData["Title"] = "Servicios1";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Servicios1</title>
    <link href="~/css/creative.css" rel="stylesheet">
    <link href="~/css/Servicios.css" rel="stylesheet" >
</head>
<body>
    <div class="contenedor1">
        <h1 class="tituloServicio">Titulo Servicio</h1>
    </div>
    
    <div class="contenedor2">
        <img class="imagenServicio" src="~/img/1.jpg">
        <div class="contenedor3">
        <h2 class="leyendaServicio">Leyenda Servicio</h2>
        <p class="descripcionServicio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis quis tempus velit. Nulla lobortis quam elit, eu porttitor elit sagittis vel. Suspendisse ut orci metus. Etiam ac dignissim lorem, vitae molestie felis. Vestibulum condimentum, sem non facilisis tristique, massa libero semper magna, eget rhoncus justo enim sed nisl. Aenean viverra hendrerit nisi, non ullamcorper ex fringilla eu. Praesent vulputate eget felis in consequat.</p>
        </div>
    </div>
</body>
</html>

